<button 
    type="{{type}}" 
    class="px-{{#if size}}{{size}}{{else}}6{{/if}} py-{{#if sizeY}}{{sizeY}}{{else}}3{{/if}} 
           {{#if variant}}
             {{#ifeq variant 'primary'}}btn-primary{{/ifeq}}
             {{#ifeq variant 'secondary'}}btn-secondary{{/ifeq}}
             {{#ifeq variant 'outline'}}border border-primary-purple text-primary-purple hover:bg-primary-purple hover:text-white{{/ifeq}}
             {{#ifeq variant 'emerald'}}bg-primary-purple text-white hover:bg-primary-purple-hover{{/ifeq}}
           {{else}}btn-primary{{/if}}
           rounded-md transition-colors {{#if block}}w-full{{/if}}"
>
    {{text}}
</button>