      <div
        class='flex w-[90vw] items-center gap-[16px] overflow-x-auto border-b border-gray-200 dark:border-gray-700 lg:w-full lg:gap-[48px]'
      >
        <a
          class='p-[10px] text-[16px] font-[500] {{#if activeOverview}}border-b border-primary text-black dark:text-white dark:border-white{{else}}text-gray-500 dark:text-gray-400{{/if}}'
          href='/pages/learn'
        >Overview</a>
        <a
          class='p-[10px] text-[16px] font-[500] {{#if activeGettingStarted}}border-b border-primary text-black dark:text-white dark:border-white{{else}}text-gray-500 dark:text-gray-400{{/if}}'
          href='/pages/learn/getting-started'
        >Getting Started</a>
       <a
         class='p-[10px] text-[16px] font-[500] {{#if activeCourses}}border-b border-primary text-black dark:text-white dark:border-white{{else}}text-gray-500 dark:text-gray-400{{/if}}'
         href='/pages/learn/courses'
       >Courses</a>
       <a
         class='p-[10px] text-[16px] font-[500] {{#if activeTutorials}}border-b border-primary text-black dark:text-white dark:border-white{{else}}text-gray-500 dark:text-gray-400{{/if}}'
         href='/pages/learn/tutorials'
       >Tutorials</a>
       <a
         class='p-[10px] text-[16px] font-[500] {{#if activeResources}}border-b border-primary text-black dark:text-white dark:border-white{{else}}text-gray-500 dark:text-gray-400{{/if}}'
         href='/pages/learn/resources'
       >Resources</a>
     </div>